<!DOCTYPE html>
<html ng-app="RSNBApp">
    <head>
        <title>ijsnb</title>
    </head>
    <body ng-controller="RSNBController">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <form class="form">
                        <input class="form-control" type="file" name="files[]" multiple />
                        <button ng-click="upload()" class="form-control link text-secondary">Upload Notebook</button>
                        <button ng-click="addNotebook()" class="form-control link text-secondary">New Notebook</button>
                    </form>
                </div>
                <div class="col-md-9">
                    <ul
                        ng-init="collapse = false" 
                        class="list-group" 
                        ng-repeat="notebook in notebooks track by $index">
                        
                        <a class="form-header" href="#" ng-click="collapse = !collapse">{{notebook.name}}</a>
                        <form ng-show="!collapse" class="form notebook notebook{{$index}}" ng-init="notebook.index = $index">
                            <li class="list-group-item">
                                <a 
                                    class="form-control link text-success"
                                    name="#runAll{{$index}}"
                                    ng-href="#runAll{{$index}}"
                                    ng-click="runAll(notebook)">
                                    run all
                                </a>
                                <!--<a class="form-control link text-secondary" href="#" ng-click="clearAll(notebook)">clear all</a>-->
                                <a 
                                    class="form-control link text-secondary" 
                                    name="#remove{{$index}}" 
                                    ng-href="#{{$index}}" 
                                    ng-click="removeNotebook(notebook)">
                                    remove
                                </a>
                                <a 
                                    class="form-control link text-secondary" 
                                    ng-name="#save{{$index}}"
                                    ng-href="#save{{$index}}"
                                    ng-click="storeNotebook(notebook)">
                                    save
                                </a>
                                <a
                                    class="form-control link text-secondary"
                                    name="download{{$index}}"
                                    ng-href="#download{{$index}}"
                                    ng-click="downloadNotebook(notebook)">
                                    download
                                </a>
                            </li>                          
                            <li class="list-group-item" ng-repeat="cell in notebook.cells track by $index" ng-init="cell.index = $index">
                                <label>
                                    <input type="radio" ng-model="cell.cell_type" value="code">
                                    code
                                </label>

                                <label>
                                    <input 
                                      type="radio"
                                      ng-model="cell.cell_type"
                                      value="markdown"
                                      ng-click="initMarkdownCell(notebook.index, cell.index)">
                                    markdown
                                </label>

                                <label>
                                    <input type="radio" ng-model="cell.cell_type" value="raw">
                                    raw
                                </label>
                                
                                <a 
                                    ng-show="cell.cell_type == 'code'"
                                    name="#run{{$index}}"
                                    href="#run{{$index}}" 
                                    class="link text-success text-right" 
                                    ng-click="run(cell, cell.cellSource || cell.source.join('\n'))">
                                  run
                                </a>
                              
                                <a
                                    ng-name="remove{{$index}}"
                                    ng-href="#remove{{$index}}"
                                    class="link text-secondary text-right"
                                    ng-click="removeCell(notebook, cell)">
                                    remove
                                </a>
                                <br>
                                
                                <textarea 
                                    ng-if="cell.cell_type === 'code'"
                                    style="font-family: mono"
                                    cols="82" 
                                    rows="{{cell.source.length}}"
                                    ng-init="cell.cellSource = cell.source.join('\n')"
                                    ng-model="cell.cellSource" 
                                    class="form-control cell code cell{{$index}}">
                                </textarea>
                                
                                <textarea 
                                    ng-if="cell.cell_type === 'markdown'"
                                    cols="82" 
                                    rows="cell.source.length"
                                    ng-model="cell.cellSource"
                                    class="form-control cell markdown cell{{$index}}"
                                    ng-init="initMarkdownCell(notebook.index, cell.index);">
                                </textarea>
                                
                                <br>
                                
                                <label class="w-100 text-truncate" ng-if="cell.output[0]">
                                    {{cell.output[0]}}
                                </label>
                                
                                <div ng-if="isArray(cell.output[0])" ng-init="collapsed_array = true" ng-show="isArray(cell.output[0])">
                                    [
                                    <a
                                        ng-name="showHide{{$index}}" 
                                        ng-href="#showHide{{$index}}" 
                                        class="link link-secondary" 
                                        ng-click="collapsed_array = !collapsed_array">
                                        <label ng-show="collapsed_array">+</label>
                                        <label ng-show="!collapsed_array">-</label>
                                    </a>
                                    ]
                                    <table class="table" ng-show="!collapsed_array">
                                        <thead>
                                            <tr>
                                                <th scope="text-secondary">Index</th>
                                                <th scope="text">Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="value in cell.output[0] track by $index">
                                                <td class="text-secondary">{{$index}}</td>
                                                <td class="text">{{value}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div ng-if="isObject(cell.output[0]) && !isArray(cell.output[0])" ng-init="collapsed_object = true">
                                    [
                                    <a
                                        ng-name="showHide{{$index}}" 
                                        ng-href="#showHide{{$index}}" 
                                        class="link link-secondary" 
                                        ng-click="collapsed_object = !collapsed_object">
                                        <label ng-show="collapsed_object">+</label>
                                        <label ng-show="!collapsed_object">-</label>
                                    </a>
                                    ]
                                    <table class="table" ng-show="!collapsed_object">
                                        <thead>
                                            <tr>
                                                <th scope="text-secondary">Key</th>
                                                <th scope="text">Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(key, value) in cell.output[0]">
                                                <td class="text-secondary">{{key}}</td>
                                                <td class="text">{{cell.output[0][key]}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <a 
                                    ng-name="addCell{{$index}}}"
                                    ng-href="#addCell{{$index}}"
                                    class="link text-secondary"
                                    ng-click="addCell(notebook)">
                                    add cell
                                </a>
                            </li>
                        </form>
                    </ul>
                </div>
            </div>
        </div>   
        
        <!-- jquery angular html5 bootstrap -->
        <!-- it's the jhab stack -->
        <script src="jquery.min.js"></script>
        <script src="bootstrap.min.js"></script>
        <link rel="stylesheet" href="bootstrap.min.css">
        
        <script src="angular.min.js"></script>
        <script src="download.js"></script>
        
        <link rel="stylesheet" href="editor.css">
        <script src="editor.js"></script>
        <script src="marked.js"></script>
        
        <script src="index.js"></script>
    </body>
</html>